<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <section id="editorSection">
      <h2>Editor</h2>
      <textarea id="editorContent">{{ content }}</textarea>
      <button id="saveButton">Save</button>
    </section>

    <script src="editor.js"></script>

    {%- include footer.html -%}

  </body>

</html>
